In [64]:
import pandas as pd
import bar_chart_race as bcr
import numpy as np

In [65]:
# load data
df=pd.read_csv('industry.csv', index_col=False)

In [66]:
# read first 5 rows
df.head(5)

,IndustryTop,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Accommodation and Leisure,0.00,4915.41,7573.05,15525.22,21088.70,44709.76,97178.15,176754.81,283789.35,...,1237545.39,1220786.10,1236098.23,1219018.61,1339868.14,1260887.12,1032233.38,847859.73,699784.71,271814.17
1,Building and Construction,NaN,3402.95,7098.30,15101.44,32881.90,49416.18,98358.70,162270.95,255036.70,...,727689.04,638238.14,561463.24,566037.24,584550.52,588663.03,469292.48,365944.51,348872.58,140997.56
2,Health and Beauty,NaN,873.09,462.66,2850.07,5843.98,8593.46,18616.18,40196.61,68054.22,...,299425.45,273759.74,259337.71,237649.06,242937.91,246955.52,221890.45,178009.16,174062.53,70547.66
3,Home and Garden,734.09,2095.48,3241.62,14037.12,29801.55,45450.05,69121.36,113706.83,190286.68,...,515251.30,511708.94,482778.64,511846.91,493909.41,478019.12,444226.25,350258.33,287825.87,111367.30
4,Manufacturing Farm and Animals,NaN,701.28,557.64,3210.00,5425.34,7829.13,11465.38,17930.81,37133.37,...,62540.75,72737.39,84576.06,72105.74,82585.39,45385.67,55113.93,66566.44,41441.38,17505.99

In [67]:
# check for columns with NaN
df.loc[:,df.isna().any()]

     1992
0    0.00
1     NaN
2     NaN
3  734.09
4     NaN
5    0.00
6   64.69
7  284.72
8    0.00

In [68]:
# drop year 1992 
del df['1992']

In [69]:
#set index to first columns
df.set_index('IndustryTop', inplace=True)

In [70]:
# print df again
df.head()

,1993,1994,1995,1996,1997,1998,1999,2000,2001,2002,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
IndustryTop,,,,,,,,,,,,,,,,,,,,,
Accommodation and Leisure,4915.41,7573.05,15525.22,21088.70,44709.76,97178.15,176754.81,283789.35,448872.92,616478.92,...,1237545.39,1220786.10,1236098.23,1219018.61,1339868.14,1260887.12,1032233.38,847859.73,699784.71,271814.17
Building and Construction,3402.95,7098.30,15101.44,32881.90,49416.18,98358.70,162270.95,255036.70,345728.57,410546.38,...,727689.04,638238.14,561463.24,566037.24,584550.52,588663.03,469292.48,365944.51,348872.58,140997.56
Health and Beauty,873.09,462.66,2850.07,5843.98,8593.46,18616.18,40196.61,68054.22,107534.10,147266.88,...,299425.45,273759.74,259337.71,237649.06,242937.91,246955.52,221890.45,178009.16,174062.53,70547.66
Home and Garden,2095.48,3241.62,14037.12,29801.55,45450.05,69121.36,113706.83,190286.68,288965.19,341163.31,...,515251.30,511708.94,482778.64,511846.91,493909.41,478019.12,444226.25,350258.33,287825.87,111367.30
Manufacturing Farm and Animals,701.28,557.64,3210.00,5425.34,7829.13,11465.38,17930.81,37133.37,53804.97,74479.80,...,62540.75,72737.39,84576.06,72105.74,82585.39,45385.67,55113.93,66566.44,41441.38,17505.99

In [71]:
# transpose to right format
df1=df.transpose()